In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fact_with_outcome.csv')
df.head()

,year_court_caseid,text,Outcome
0,2000_SGHC_1,"Before going into the facts proper, a summary ...",Appeal allowed
1,2000_SGHC_2,The plaintiffs were originally known as Lian H...,Appeal dismissed
2,2000_SGHC_4,The appellant was a member of the club and a r...,Appeal dismissed
3,2000_SGHC_5,1. The plaintiffs are a ship-owning\r\n\r\ncom...,Outcome not explicitly mentioned
4,2000_SGHC_9,Although several other procedural points were ...,Appeal dismissed

In [3]:
df = df.dropna(subset=['text'])
df.text.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)
df.head()

/var/folders/0m/1wpwx38n6tdb_9y7mx9pvb_c0000gn/T/ipykernel_75412/1201943111.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.text.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" "," "], regex=True, inplace=True)

,year_court_caseid,text,Outcome
0,2000_SGHC_1,"Before going into the facts proper, a summary ...",Appeal allowed
1,2000_SGHC_2,The plaintiffs were originally known as Lian H...,Appeal dismissed
2,2000_SGHC_4,The appellant was a member of the club and a r...,Appeal dismissed
3,2000_SGHC_5,1. The plaintiffs are a ship-owning company...,Outcome not explicitly mentioned
4,2000_SGHC_9,Although several other procedural points were ...,Appeal dismissed

In [4]:
df = df[df['Outcome'] != "Outcome not explicitly mentioned"]

In [6]:
df.loc[df['Outcome'] == "Order accordingly", 'Outcome'] = 'Appeal allowed'
df.head()

,year_court_caseid,text,Outcome
0,2000_SGHC_1,"Before going into the facts proper, a summary ...",Appeal allowed
1,2000_SGHC_2,The plaintiffs were originally known as Lian H...,Appeal dismissed
2,2000_SGHC_4,The appellant was a member of the club and a r...,Appeal dismissed
4,2000_SGHC_9,Although several other procedural points were ...,Appeal dismissed
5,2000_SGHC_12,1. The Plaintiffs are property developers. The...,Appeal allowed

In [8]:
df['Outcome'].value_counts()

Outcome
Appeal dismissed    951
Appeal allowed      869
Name: count, dtype: int64

In [9]:
df.to_csv('Final_fact_with_outcome.csv', index=False)